name: test
on:
  push: null

jobs:
  test:
    name: test
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-11]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Detect platform
        id: detect
        run: |
            if [[ "${RUNNER_ARCH}" == "X64" ]]; then
              if [[ "${RUNNER_OS}" == "Linux" ]]; then
                echo '::set-output name=platform::linux-64' && exit 0
              elif [[ "${RUNNER_OS}" == "macOS" ]]; then
                echo '::set-output name=platform::osx-64' && exit 0
              fi
            fi
            echo "Unsupported platform ${RUNNER_OS} ${RUNNER_ARCH}"
            exit 1

      - uses: actions/checkout@v2

      - name: Set up conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: conda-lock.yml
          environment-name: ci
          cache-environment: true
          create-args: --category main dev

      - name: Install project
        env:
          ICECUBE_PASSWORD: ${{ secrets.ICECUBE_PASSWORD }}
        run: |
          pip install --no-deps .
          pip check

      - name: Run unit tests
        run: |
          pytest tests

      # Too memory-hungry for GitHub hosted runners
      # - name: Run demo notebooks
      #   run: |
      #     pytest --nbmake notebooks
